*{
    box-sizing: border-box;
}

html, body{
    margin:0;
    padding: 0;
}

.mainBanner{
    width: 100%;
    height: 280px;
    background-image: url(./img/banner.jpg);
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.mainBanner .text{
    font-size: 42px;
    font-weight: 700;
    color: white;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    animation: titleText 1s ease-in-out;
}

@keyframes titleText{
    0%{
        transform: translateY(70px);
        opacity: 0;
    }

    92%{
        transform: translateY(-10px);
    }

    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 10px 16%;
}

.nav{
    position: relative;
}
.nav ul{ 
    width: 170px;
    height: 204px;
    padding: 0px;
    background-color: rgb(255, 153, 0);
    border-radius: 5px;
    color: white;
    font-weight: 500;
    list-style: none;
    margin: 0px;
    margin-top: 20px;
    margin-bottom: 8px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: self-start;
    padding: 20px;
}

.nav ul li{
    width: 130px;
    height: 35px;
    border-radius: 25px;
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    cursor:pointer;
}

.nav ul li a{
   margin-top: 13px;
   text-decoration:none;
   color: white;
}

#menu1{
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

#background_menu1{
    transition: background-color 0.5s ease-in-out;
}

.nav button{
    width: 170px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: black;
    color: white;
    font-weight: 600;
    position: absolute;
    top : 240px;
    cursor:pointer;
}

.nav button span{
    position: absolute;
    left : 5%;
    top : 30%;
}

#background_button1{
    transition: background-color 0.5s ease-in-out;
}

#button1{
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

.section{
    margin-top: 15px;
}

.itemWrap{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
    flex-wrap: wrap;
}

.item{
    width: calc(25% - 7px);
    aspect-ratio: 6 / 5;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    padding: 4px 1px;
}

.imgBox{
    width: 100%;
    height: 100%;
}

.imgBox img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.textBox{
    width: 100%;
    height: 100%;
    position: absolute;
    top : 0;
    left : 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 20px;
    z-index: 3;
}

.textBox p{
    color: white;
    margin: 5px 0;
}

.textBox__name{
    font-size: 22px;
    font-weight: 500;
    opacity: 0;
    transform: translateY(550px);
}

.textBox__price{
    font-size: 16px;
    font-weight: 400;
    opacity: 0;
    transform: translateY(550px);
}

.item:after{
    width: 100%;
    height: 100%;
    content: "";
    display: block;
    background-color: rgba(0,0,0,0.2);
    position: absolute;
    top : 0;
    left : 0;
    z-index: 2;
    opacity: 0;
}


.item:after,
.item .imgBox img,
.item .textBox__name,
.item .textBox__price{
    transition: all 0.4s ease-in-out;
}

/* 반응형 웹 */

@media screen and (max-width : 767px) {
    /* Mobile */
    .mainBanner{
        width: 100%;
        height: 160px;
        background-image: url(./img/banner.jpg);
        background-size: cover;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .mainBanner .text{
        font-size: 26px;
        font-weight: 700;
        color: white;
        text-shadow: 2px 2px 5px rgba(0,0,0,0.3);
        animation: titleText 1s ease-in-out;
    }

    .container{
        flex-direction: column;
        margin: 0;
    }
    
    
    .nav ul{         
        width: 100%;
        height: 50px;
        margin:0px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-radius: 0px;
    }
    
    .nav button{
        display: none;
    }
    
    .nav ul li a{
        text-decoration:none;
        color: white;
        font-size: 14px;
     }

    .item{
        width: calc(50% - 7px);
        overflow: visible;
        border: 1px solid #dddddd;
        border-radius: 0;
        margin: 3px;
        padding: 0px;
     }

    .textBox{
        width: 100%;
        height: auto;
        position: relative;
     }
    
     
    .textBox p{
        color: rgb(0, 0, 0);
    }

    .textBox__name{
        font-size: 22px;
        font-weight: 500;
        opacity: 1;
        transform: translateY(0);
        font-weight: 600;
        font-size: 18px;
    }

    .textBox__price{
        font-size: 16px;
        font-weight: 400;
        opacity: 1;
        transform: translateY(0);
        font-weight: 400;
        font-size: 13px;
    }
}

@media screen and (min-width : 768px) and (max-width : 1023px) {
    /* Tablet */
    .nav{
        margin-left: 12px;
    }

    .nav ul{
        margin-right: 7px;
    }
    .container{
        margin: 0px;
    }

    .item{
        overflow: visible;
        border: 1px solid #dddddd;
        border-radius: 0;
        margin: 3px;
        padding: 0px;
     }

    .textBox{
        width: 100%;
        height: auto;
        position: relative;
     }
    
     
    .textBox p{
        color: rgb(0, 0, 0);
    }

    .textBox__name{
        font-size: 22px;
        font-weight: 500;
        opacity: 1;
        transform: translateY(0);
        font-weight: 600;
        font-size: 18px;
    }

    .textBox__price{
        font-size: 16px;
        font-weight: 400;
        opacity: 1;
        transform: translateY(0);
        font-weight: 400;
        font-size: 13px;
    }
}

@media screen and (min-width : 1024px){
    /* PC */
    .nav ul li:hover{
        background-color:  rgb(223, 134, 0);
    }
    
    .nav ul li:hover a{
        transform: translateX(15px);
    }

    .nav button:hover span{
        transform: translateX(50px);   
    }
    
    .nav button:hover{
        border: 1px solid black;
        background-color: white;
        color: black;
    }
    
    .item:hover:after{
        opacity: 1;
    }

    .item:hover img{
        transform: scale(1.1);
        filter: blur(3px);
    }


    .item:hover .textBox__name{
        transform: translateY(0px);
        opacity: 1;
    }

    .item:hover .textBox__price{
        transition-delay : 0.1s;
        transform: translateY(0px);
        opacity: 1;
    }


}


